<p id="notice"><%= notice %></p>

<%= image_tag "network.jpg", :class=> "logo" %>


<h1>Projects</h1>


<ul>
<%= link_to "__Home__|", projects_path, :class=> "link" %>
<%= link_to "__Sign Up__|", new_user_registration_path, :class=> "link" %>
<%= link_to "__Sign In__|", user_session_path, :class=> "link" %>
<%= link_to "__Logout__", destroy_user_session_path, method: :delete, :class=> "link"  %>
</ul>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>

      <th colspan="3"></th>
    </tr>
  </thead>



  <tbody>
  <tr>
    <td><%= 'Infographic' %></td>
    <td><%= 'A description of what cryptocurrency is delivered in an a concise visual form.' %></td>
    <td><%= image_tag "InfoGraphic Assignment Final Version.png", :class=> "link" %></td>
    <td><%= link_to '__Show__|' %></td>
    <td><%= link_to '__Edit__|' %></td>
    <td><%= link_to '__Destroy__|' %></td>
  <tr>


    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= image_tag url_for(project.image), :class=> "link" %></td>
        <td><%= link_to '__Show__|', project, :class=> "blink" %></td>
        <td><%= link_to '__Edit__|', edit_project_path(project), :class=> "blink" %></td>
        <td><%= link_to '__Destroy__|', project, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "blink" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '__New Project__', new_project_path, :class=> "alink" %>

<%= image_tag "network.jpg", :class=> "logo" %>
