<%= image_tag "network.jpg", :class=> "logo" %>

<p id="notice"><%= notice %></p>

<ul>
  <%= link_to "__Home__|", projects_path, :class=> "link" %>
  <%= link_to "__Sign Up__|", new_user_registration_path, :class=> "link" %>
  <%= link_to "__Sign In__|", user_session_path, :class=> "link" %>
  <%= link_to "__Logout__", destroy_user_session_path, method: :delete, :class=> "link"  %>
</ul>

<h1>
  <strong>Title:</strong>
  <%= @project.title %>
</h1>

<h2>
  <strong>Description:</strong>
  <%= @project.description %>
</h2>

<h3>
  <strong>Image:</strong>
  <%= image_tag(@project.image) %>
</h3>

<%= link_to '__Edit__|', edit_project_path(@project), :class=> "alink" %> 
<%= link_to '__Back__', projects_path, :class=> "alink" %>

<%= image_tag "network.jpg", :class=> "logo" %>

